<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <form action="/findById/view/1" class="d-flex" method="GET">
            <input class="form-control me-2" name="id" type="text" placeholder="ID" aria-label="Search">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</nav>